:root {
    --primary-color: #0c4278;
    --secundary-color: #a5c1d5a0;
    --third-color: #fefefec5;
    --fourth-color: #6095ba21;
    --ancho: 100vw;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

/* -> HEADER */

header {
    width: var(--ancho);
    height: 15vh;
    background-color: var(--primary-color);
}

/* ->MAIN {
    div{
        5 contenedores div {
            div1{}
            div2{}
            div3{}
            div4{}
            div5{}
    }
    div{

    }
    aside{
        5 contendedores div{
            div1{}
            div2{}
            div3{}
            div4{}
            div5{}
    }
    }
} */

main {
    width: var(--ancho);
    height: 70vh;
    background-color: var(--secundary-color);
    display: flex;
}

main>div:nth-of-type(1) {
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
}

main>div>div {
    position: relative;
    width: 70vw;
    min-width: 50px;
    height: 10vh;
}

main>div>div:nth-of-type(1) {
    background-color: aqua;
}

main>div>div:nth-of-type(2) {
    background-color: rgb(255, 47, 0);
}

main>div>div:nth-of-type(3) {
    background-color: rgb(183, 255, 0);
}

main>div>div:nth-of-type(4) {
    background-color: rgb(0, 255, 13);
}

main>div>div:nth-of-type(5) {
    background-color: rgb(255, 0, 195);
}


main>div:nth-of-type(2) {
    display: none;
    position: absolute;
    background-color: black;
    width: 70vw;
    height: 60vh;
    margin-left: 15vw;
    margin-top: 5vh;
}

/* ->FOOTER */

footer {
    width: var(--ancho);
    height: 15vh;
    background-color: var(--third-color);
}