html {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: gray;
    /* color de fondo */
}

* {
    /* Elemento universal */
    box-sizing: border-box;
    /* calcular automaticamente el ancho de pantalla */
    padding: 0;
    margin: 0;
}

/*  Titulo Pagina */

header h1 {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 5%;
    margin-bottom: 10px;
    margin-top: 10px;
    color: white;
}

/* Barra de navegacion superior */

nav ul {
    margin-top: 10px;
    list-style: none;
    background-color: #13a4a4;
    width: 100%;
    padding: 10px 20px;
    border: 3px solid white;
    border-radius: 10px;
}

nav li {
    display: inline-block;
}

nav a {
    color: yellow;
    padding-left: 1px;
    border-radius: 30%;
    /* bordes */
    text-decoration: none;
    /* quitar subrayado (por ser link) */
}

/* pseudo clases ( : ) */
nav a:hover {
    /* el hover es una acciones cuando el cursor esta por encima */
    color: white;
}

nav a:active {
    color: red;
}

/* pseudo elementos  ( :: )*/
nav a::after {
    padding: 0px 20px;
    content: " | ";
}