* {
    /* Elemento universal */
    box-sizing: border-box;
    /* calcular automaticamente el ancho de pantalla */
    padding: 0;
    margin: 0;
}

html {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: gray;
    /* color de fondo */
}

/*  Titulo Pagina */

header {
    width: 100%;
    display: inline-block;
    background-color: black;
    height: 60px;
}

h1,nav {
    display: inline-block;
}

h1 {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    width: 60px;
    margin: 20px;
    color: white;
}



/* Barra de navegacion superior */

nav {
    padding-left: 10px;
    min-width: 460px;
    right: 0px;
    position: absolute;
}

nav ul {
    margin-top: 10px;
    list-style: none;
    background-color: #13a4a4;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
    border: 3px solid white;
    border-radius: 10px;
}

nav li {
    display: inline-block;
}

nav a {
    color: yellow;
    padding-left: 1px;
    border-radius: 30%;
    /* bordes */
    text-decoration: none;
    /* quitar subrayado (por ser link) */
}

/* pseudo clases ( : ) */
nav a:hover {
    /* el hover es una acciones cuando el cursor esta por encima */
    color: white;
}

nav a:active {
    color: red;
}

/* pseudo elementos  ( :: )*/
nav a::after {
    padding: 0px 20px;
    content: " | ";
}

/* MAIN */



aside{
    position: absolute;
    background-color: rgb(125, 125, 209);
    height: 90vh;
    width: 200px;
}

aside>div{
    margin: 20px 12px;
    background-color: rgba(0, 255, 255, 0.344);
    width: 180px;
    height: 120px;
}

div{
    width: 500px;
    margin-left: auto;
    margin-right: 10%;
}



h4 {
    color: yellow;
    width: 140px;
    margin: 10px auto;
    background-color: #13a4a4;
    padding: 10px;
}

section>div {
    position: relative;
    background-color: #13a4a4;
    width: 200px;
    padding: 10px;
    margin: 0 auto;
    border: 3px solid white;
    border-radius: 25px;
    top: 40px;

}

section>article {

    background-color: white;
    padding: 50px;
    border: 2px solid black;
    border-radius: 60px;
    bottom: 20px;
}