main>div>div:nth-of-type(1),
main>div>div:nth-of-type(2) {
    height: 25vh;
    width: 45%;
}

main>div>div:nth-of-type(3),
main>div>div:nth-of-type(4),
main>div>div:nth-of-type(5) {
    width: 30vw;
    height: 25vh;
}

main>div:nth-of-type(2){
    display: none;
}