---
import Layout from "../../layouts/Layout.astro"
---

<Layout title="Acerca del Proyecto">
    <h1>Acerca del Proyecto</h1>

    <p>El Proyecto de lanzamientos de SoaceX es una demostracion para el curso de Astro</p>
</Layout>