body {
  background-color: black;
}

main {
  >section:nth-of-type(1) {
    margin: 10vh auto;
    width: 90dvw;
    height: 40vh;
    display: flex;

    &>img {
      width: 0;
      flex-grow: 1;
      object-fit: cover;
      transition: .3s ease;

      &:hover {
        filter: contrast(120%);
        width: 10%;
        transform: scale(1.1);
      }
    }
  }

  >section:nth-of-type(2) {
    margin: 10rem;
    &>div {
      aspect-ratio: 9/16;
      width: 300px;
      position: relative;
      display: flex;
      overflow: scroll;
      scroll-snap-type: x mandatory;
      margin: auto;
      scrollbar-width: none;

      &>img {
        width: 100%;
        left: 0;
        position: sticky;
        object-fit: cover;
        border-radius: 5px;
        scroll-snap-align: center;
      }
    }
  }

  >section:nth-of-type(3) {
    width: 900px;
    margin: 10rem auto;
    overflow: hidden;
    &>div {
      display: flex;
      flex-wrap: nowrap;
      width: 300px;
      transition: all 0.3s linear;
      aspect-ratio: 9/16;

      &>img {
        width: 300px;
        object-fit: cover;
      }
    }
  }
}